<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
<ul class="navbar-nav mr-auto">

<!--FILTERS-->

<div id="filterDropdown" class="row col-lg-12 col-md-4 col-sm-4">
        <li class="nav-item">
    <div style="border:1px solid white;height:120px;width:1200px;">
    <div style="font:16px/26px Georgia, Garamond, Serif;">
    <ul>
        <div class="row col-lg-12 col-md-4 col-sm-4 filterButtons">
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterHtml">
                    HTML
                </button>
            </li>
        <br>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterCss">
                    CSS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterJs">
                    JS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterJquery">
                    JQUERY
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterNode">
                    NODE
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterHandlebars">
                    HANDLEBARS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterSequelize">
                    SEQUELIZE
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterFirebase">
                    FIREBASE
                </button>
            </li>
        </div>
        <div class="row col-lg-12" style="margin-top:20px;">
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterBootstrap">
                    BOOTSTRAP
                </button>
            </li>
        <br>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterMaterialize">
                    MATERIALIZE
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterTips">
                    TIPS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterTutorials">
                    TUTORIALS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterVideos">
                    VIDEOS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterDocs">
                    DOCS
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterCheat">
                    CHEAT SHEET
                </button>
            </li>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterMisc">
                    MISC.
                </button>
            </li>
        </div>
        <div class="row col-lg-12" style="margin-top:30px;">
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:100px;" class="btn" id="filterSubmit">
                    SUBMIT
                </button>
            </li>
        <br>
    </ul>
    </div>
</div>
</li>
</div>
</ul>
<br>

<!--NAVBAR SECTION-->

{{!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top"> --}}
    <ul class="navbar-nav mr-auto">

    <a class="navbar-brand" href="#">
        <img id="logo" src="../assets/images/cork.png" alt="corkboard">
    </a></ul>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
aria-expanded="false" aria-label="Toggle navigation">
    <i style="color:white" class="fas fa-bars"></i>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!--DISPLAYS THE BOARD ID-->

{{!-- <ul>
<li>
<h4 id = "boardID">Board ID: {{board.id}}</h4>
</li>
</ul> --}}

<!--DROPDOWN FOR ADDING-->

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus-circle"></i>
        </button>

<!--MODALS FOR TOPIC, POST & ANNOUNCE-->

    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item">
        <ul>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:155px;" class="btn newLink" data-toggle="modal" data-target="#topicModal">
                <i class="fas fa-link"></i>
                    Topic
                </button>
            </li>
        </ul>
        </a>
    <a class="dropdown-item">
        <ul>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" style="width:155px;" class="btn newLink" data-toggle="modal" data-target="#postModal">
                    <i class="far fa-newspaper"></i>
                        Post
                </button>
            </li>
        </ul>
    </a>
    <a class="dropdown-item">
        <ul>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" class="btn newLink" data-toggle="modal" data-target="#announcementModal">
                <i class="fas fa-bullhorn"></i>
                    Announcement
                </button>
            </li>
        </ul>
    </a>
</div>
</div>
</div>

<!--ALERTS AND FILTER BUTTONS-->

<ul>
<a id="announce" href="#">
Alerts<i class="fas fa-external-link-square-alt"></i>
</a>
</ul>
<ul>
    <a id="filter" href="#">
        Filter<i class="fas fa-filter"></i>
    </a>
</ul>
</div>
</nav>

<!-- Modal for new topic -->
<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="topicModalLabel">New Topic</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-post">
                <input type="text" placeholder="Topic">
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary linkitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for new post -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="postModalLabel">New Post</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
<div class="modal-body modal-post">
    <input type="text" placeholder="Title">
    <br>
    <br>
    <input type="text" placeholder="URL">
    <br>
    <br>
    <input type="text" placeholder="Description">
    <br>
    <br>
    <input type="text" placeholder="Image URL">
    <br>
    <br>
    <center>
        <h2>Topic</h2>
    <select>
        <center>
        <option value="volvo">html</option>
        <option value="saab">css</option>
        <option value="mercedes">javascript</option>
        <option value="audi">jquery</option>
        <option value="volvo">node</option>
        <option value="saab">handlebars</option>
        <option value="mercedes">sequelize</option>
        <option value="audi">firebase</option>
        <option value="volvo">bootstrap</option>
        <option value="saab">materialize</option>
        <option value="mercedes">tips</option>
        <option value="audi">tutorials</option>
        <option value="volvo">videos</option>
        <option value="saab">documentation</option>
        <option value="mercedes">cheat sheet</option>
        <option value="audi">misc.</option>
    </select>
    </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary linkitButton">Submit</button>
</div>
</div>
</div>
</div>

<!-- Modal for new announcement -->
<div class="modal fade" id="announcementModal" tabindex="-1" role="dialog" aria-labelledby="announcementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="announcementModalLabel">New Announcent</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-post">
                <input type="text" placeholder="Topic">
                <br>
                <br>
            </div>
            <div class="modal-body modal-post">
                <input type="text" placeholder="Message">
                <br>
                <br>
            </div>
            <div class="modal-body modal-post">
                <input type="text" placeholder="Topic">
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary linkitButton">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--BODY-->
<h1 id="boardName">{{board.name}}</h1>
<!--CARDS-->
<div class="main">
    <div class="cardWrapper col-lg-12 col-md-8">
        {{#if board.links}}
        <ul>
        {{#each board.links}}
            <div class="card">
                <div class="card-body">
                <br>
                    <div class="row">
                    <h5 class="col-lg-12 col-md-9 col-sm-8 title">
                        {{title}}
                    </h5>
                <div class = "col-lg-6" id="url">
                    <a href="{{url}}">
                </div>
            </div></a>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text">
                        {{description}}
                    <a href="#"> Read More</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 imagewrap">
                    {{#if image_url}}
                    <img class="card-img-top cardImg" src="{{image_url}}">
                    {{/if}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row bottomsec">
            <div class="col-lg-12">
            <div class="card-header">
                <small class="text-muted">
            <div class="cardIcons">
                <i class="fas fa-pencil-alt" id="cardEdit"></i>
                <i class="fas fa-trash-alt" id="cardDelete"></i>
            </div>
{{!-- <div class="timestamp"> --}}
            <div class="tags">
                <h3>Topics:</h3>
                    {{#each board.tags}}
                    <p>id{{id}}</p>
                    <p>name{{name}}</p>
                    {{/each}}
                    </div>
                </div>
                </small>
            </div>
        </div>
    </div>
{{/each}}
</ul>
{{/if}}
</div>

<div class="card sidebar col-lg-12 col-md-4">
    <div class="card-header">
        Announcements
        </div>
        <div class="card-body">
        <h2 class="card-title">Filtered topics</h2>
        {{#each board.messages}}
        <p class="card-text">These messages are responsive text
    {{msg}} by {{author}}
    {{/each}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>


