<h1>What's up Guys</h1>

<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img id="logo" src="../assets/images/logo.png" alt="linkit">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Messages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="height:120px;width:350px;overflow: auto;">
                    <div class="dropdown-item">
                        <div style="font:16px/26px Georgia, Garamond, Serif;">
                            <ul>
                                {{#each board.messages}}
                                    <p>{{msg}} by {{author}}</p>
                                {{/each}}
                                <br>
                            </ul>
                        </div>
                    </li>
                </ul>
            <ul>
                <li>
                    <h4 id = "boardID">Board ID: {{board.id}}</h4>
                </li>
            </ul>
            <!--MODAL BUTTON-->
            <ul>
            <li style="list-style-type: none; padding-right: 30px; font-size: 20px;">
                <button type="button" class="btn newLink" data-toggle="modal" data-target="#resourceModal">
                    <i class="fas fa-link"></i>
                </button>

            </li>
        </ul>
    </div>
</nav>

<!--BODY-->

<div class="main">
    <div id="testArray"></div>
    <!-- Modal -->
    <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resourceModalLabel">New Resource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Insert URL">
                    <br>
                    <center>
                        <div>URL Tag
                            <br>
                        <select name = "tags">
                            <option value="html">HTML</option>
                            <option value="html">CSS</option>
                            <option value="html">JS</option>
                            <option value="html">NODE</option>
                            <option value="html">SQL</option>
                            <option value="html">REACT</option>
                        </select>
                        </div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary linkitButton">Linkit</button>
                </div>
            </div>
        </div>
    </div>
<h1 id="boardName">Board Name: {{board.name}}</h1>

    <!--CARDS-->

{{#if board.links}}
<ul>
    
    {{#each board.links}}
    <div class="card">
        <div class="card-body">
            <img id="pin"src="../assets/images/pin.png" />
            <br>
            <div class="row">
                <h5 class="col-lg-12 col-md-9 col-sm-8 title">
                    {{title}}
                </h5>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ratione ducimus beatae odit est, culpa assumenda incidunt. Maxime repellendus, nostrum officiis asperiores dolores assumenda totam id amet delectus molestiae nobis.{{description}}
                        <a href="#"> Read More</a>
                </div>
                <div class="imagewrap">
                    {{#if image_url}}
                    <img class="card-img-top cardImg" src="{{image_url}}">
                    {{/if}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <small class="text-muted">
                        <div class="cardIcons">
                            <i class="fas fa-pencil-alt" id="cardEdit"></i>
                            <i class="fas fa-trash-alt" id="cardDelete"></i>
                        </div>
                        {{!-- <div class="timestamp"> --}}
                            {{url}}
                            <div style="margin-top:-20px;">
                            <center><h3>Tags:</h3>
                            {{#each board.tags}}
                                <p>id{{id}}</p>
                                <p>name{{name}}</p>
                            {{/each}}
                            </center>
                            </div>
                        </div>
                    </small>
                </div>
            </div>
        </div>
    {{/each}}
</ul>
{{/if}}

